<h1>
  Users
</h1>

<table class="gd-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Wish lists</th>
      <th>Last logged in</th>
      <th>Email</th>
      <th>Subscribed?</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>
        <a href="https://giftdibs.com/users/{{ user.id }}">{{ user.firstName }} {{ user.lastName }}</a>
      </td>
      <td>
        {{ user.wishLists.length }}
      </td>
      <td>
        {{ user.dateLastLoggedIn | date }}
      </td>
      <td>
        <gd-icon *ngIf="user.emailAddressVerified" icon="check" iconStyle="success" title="Verified"></gd-icon>
        <gd-icon *ngIf="!user.emailAddressVerified" icon="minus" iconStyle="danger" title="Unverified"></gd-icon>
        {{ user.emailAddress }}
      </td>
      <td>
        <span *ngIf="user.emailExistsOnMailingList && user.isEmailSubscribedToMailingList">Yes</span>
        <span *ngIf="user.emailExistsOnMailingList && !user.isEmailSubscribedToMailingList">No</span>
        <span *ngIf="!user.emailExistsOnMailingList">--</span>
      </td>
      <td style="text-align: right;width:1%;">
        <button
          class="gd-button gd-button-default"
          type="button"
          gdDropdownMenuTrigger
          menuHorizontalAlignment="right"
          [menuItems]="getMenuItems(user)"
        >
          <gd-icon icon="ellipsis-v"></gd-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>
